.product-one{
    justify-content: center;
    align-items: center;
    display : block;
    box-sizing: content-box;
    margin-top: 50px;
    margin: 70px;
    margin-left: 150px;
    /*margin-left: 50px;*/
}

.products-line{
    display: inline-block;
}

.container{
    display: inline-block;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/